[project]
	description = Ejemplo para checks con Findbugs y sonarqube
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jazvillagra
[access "refs/for/refs/*"]
	read = group user/jazvillagra
	push = group user/jazvillagra
	label-Code-Review = -2..+2 group user/jazvillagra
	label-Verified = -1..+1 group user/jazvillagra
	rebase = group user/jazvillagra
	removeReviewer = group user/jazvillagra
	submit = group user/jazvillagra
[access "refs/heads/*"]
	read = group user/jazvillagra
	create = group user/jazvillagra
	push = +force group user/jazvillagra
	pushMerge = group user/jazvillagra
[access "refs/tags/*"]
	push = group user/jazvillagra
	push = +force group user/jazvillagra
